<ng-template #updateModal>
  <div class="modal-header">
      <h4 class="modal-title pull-left"> Update Price For This Inquiry Quote</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <form class="form-horizontal" (submit)='onUpdatePrice()' >
  <div class="modal-body">
    <div class="col-lg-12 col-xs-12" >
        
          <div class="col-md-2">
            <label  class=" control-label">Price</label>
          </div>
          <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Update Price" name="price" [(ngModel)]="quote.pricing">
          </div>
       
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
      <div class="row"> 
      <div class="col-md-10 col-md-offset-1">               
      <div class="form-group pull-right">
            <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
            <button type="submit" class="btn btn-primary">
              Update
            </button>
        </div>
      </div>
      </div>
   
  </div> </form>
</ng-template>
<ng-template #viewDetail>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Inquiry Quote <span class="capitalize">{{quoteDetailsKey}}</span> Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
    <div class="col-lg-12 col-xs-12" style="border-bottom: 1px solid #265728 !important; bottom: 13px;">
      <div class="table-responsive">
      <table class="table table-striped table-hover">
          <thead>
              <tr>
              <th>#</th>
              <th *ngIf="quoteDetailsKey == 'load'; else dischargeReceiver"  (click)="sort('supplier')">
                  <span class="glyphicon sort-icon" *ngIf="key =='supplier'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Supplier
              </th>
              <ng-template #dischargeReceiver>
                  <th  (click)="sort('receiver')">
                      <span class="glyphicon sort-icon" *ngIf="key =='receiver'" 
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      Receiver
                  </th>
              </ng-template>
              <th (click)="sort('port')">
                  <span class="glyphicon sort-icon" *ngIf="key =='port'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Cargo Finance
              </th>
              <th *ngIf="quoteDetailsKey == 'load'; else dischargeTerminal" (click)="sort('load_terminal')">
                  <span class="glyphicon sort-icon" *ngIf="key =='load_terminal'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Load Terminal
              </th>
              <ng-template #dischargeTerminal>
                  <th  (click)="sort('discharge_terminal')">
                      <span class="glyphicon sort-icon" *ngIf="key =='discharge_terminal'" 
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      Discharge Terminal
                  </th>
              </ng-template>         
              <th (click)="sort('port')">
                  <span class="glyphicon sort-icon" *ngIf="key =='port'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Port
              </th>
              <th (click)="sort('api')">
                  <span class="glyphicon sort-icon" *ngIf="key =='api'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Api
              </th>
              <th (click)="sort('volume')">
                  <span class="glyphicon sort-icon" *ngIf="key =='volume'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Volume
              </th>
              <th *ngIf="quoteDetailsKey == 'load'; else dischargeTolerance" (click)="sort('loading_tolerance')">
                  <span class="glyphicon sort-icon" *ngIf="key =='loading_tolerance'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Load Tolerance
              </th>
              <ng-template #dischargeTolerance>
                  <th  (click)="sort('discharge_tolerance')">
                      <span class="glyphicon sort-icon" *ngIf="key =='discharge_tolerance'" 
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      Discharge Tolerance
                  </th>
              </ng-template> 
              <th (click)="sort('volume_tolerance')">
                  <span class="glyphicon sort-icon" *ngIf="key =='volume_tolerance'" 
                  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  Volume Tolerance
              </th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of viewList; index as i " >
              <td>{{i+1}}</td>
              <td *ngIf="quoteDetailsKey == 'load'; else tdDischargeReceiver">{{item.supplier}}</td>
              <ng-template #tdDischargeReceiver>
                  <td>{{item.receiver}}</td>
              </ng-template>
              <td>{{item.port}}</td>
              <td *ngIf="quoteDetailsKey == 'load'; else tdDischargeTerminal">{{item.load_terminal}}</td>
              <ng-template #tdDischargeTerminal>
                  <td>{{item.discharge_terminal}}</td>
              </ng-template>
              <td>{{item.cargo_grade}}</td>
              <td>{{item.api}}</td>
              <td>{{item.volume}}</td>
              <td *ngIf="quoteDetailsKey == 'load'; else tdDischargeTolerance">{{item.loading_tolerance}}%</td>
              <ng-template #tdDischargeTolerance>
                  <td>{{item.discharge_tolerance}}%</td>
              </ng-template>
              <td>{{item.volume_tolerance}}</td>
              <td>
                <a href="javascript:void(0)" (click)="removeDetailItems(i)" class="danger">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>                            
              </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="row"> 
        <div class="col-lg-12 col-xs-12">               
        <div class="form-group pull-right">
              <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Close</button>
          </div>
        </div>
        </div>
    </div>
</ng-template>
<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{modalTitleTxt}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="border-bottom: 1px solid #265728 !important">
            <form class="form-horizontal"  #f="ngForm">
              <div class="col-lg-6 col-xs-12">
                <p><b>Loading Details</b>
                </p>
                <div class="col-lg-10 col-xs-12">
                  <span class=pull-right>
                      <ul class="nav nav-pills">
                          <li style="top: -36px !important"> Total Load Added <span class="badge">{{loadList?.length}}</span></li>
                        </ul>
                  </span>                  
                <div class="form-group">
                    <input [(ngModel)]="load.supplier"
                    name="supplier"
                    [typeahead]='filterArray(supplierList)'
                    class="form-control"
                    placeholder="Select Supplier">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="load.port"
                    name="port"
                    [typeahead]='filterArray(portList)'
                    class="form-control"
                    placeholder="Select Port">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="load.load_terminal"
                    name="load_terminal"
                    [typeahead]='filterArray(loadTerminalList)'
                    class="form-control"
                    placeholder="Select Load Terminal">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="load.cargo_grade"
                    name="cargo_grade"
                    [typeahead]='filterArray(cargoGradeList)'
                    class="form-control"
                    placeholder="Select Cargo Grade">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="API" [(ngModel)]="load.api" name="api">
                  </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="volume" placeholder="Volume" 
                            [(ngModel)]="load.volume" name="volume">
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group">
                        <select class="form-control pull-right "   >
                            <option value="" selected hidden>Select Volume</option>
                            <option  *ngFor="let option of volumeList" [value]="option">
                                {{option}}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                      <div class="col-md-2">
                        <label  class=" control-label">Date</label>
                      </div>
                      <div class="col-md-5">
                        <input type="date" class="form-control" placeholder="Load Window" name="date1" [(ngModel)]="load.date1">
                      </div>
                      <div class="col-md-5">
                        <input type="date" class="form-control" placeholder="Load Window" name="date2" [(ngModel)]="load.date2">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="custom-fieldset">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                              <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Narrowing</strong></h3>
                              <div class="form-group">
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Window" name="window_1" [(ngModel)]="load.window_1">
                                  </div>
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Days Before" name="days_before_1" [(ngModel)]="load.days_before_1">
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Window" name="window_2" [(ngModel)]="load.window_2">
                                  </div>
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Days Before" name="days_before_2" [(ngModel)]="load.days_before_2">
                                  </div>
                                  <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Comments" name="comments" [(ngModel)]="load.comments">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                      <div class="col-md-3">
                        <label  class=" control-label text-left">Loading Tolerance</label>
                      </div>
                      <div class="col-md-9">
                        <select   class="form-control" name="loading_tolerance" [(ngModel)]="load.loading_tolerance">
                          <option value="" hidden selected> Select Loading Tolerance</option>
                          <option  *ngFor="let option of loadingTolerance" [value]="option">
                              {{option}} %
                          </option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                      <div class="col-md-3">
                        <label  class=" control-label text-left">Volume Tolerance</label>
                      </div>
                      <div class="col-md-9">
                        <select   class="form-control" name="volume_tolerance" [(ngModel)]="load.volume_tolerance">
                          <option value="" hidden selected> Select Volume Tolerance</option>
                          <option  *ngFor="let option of volumeTolerance" [value]="option">
                              {{option}}
                          </option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <button type="button" 
                          class="btn btn-primary btn-block" (click)="addAnotherLoad()">
                          <span class="glyphicon glyphicon-plus-sign"></span> 
                          ADD ANOTHER LOAD
                        </button>
                    </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="col-lg-6 col-xs-12">
                <p><b> Discharge Details </b></p>
                <div class="col-lg-10 col-xs-12">
                  <span class=pull-right>
                      <ul class="nav nav-pills">
                        <li style="top: -36px !important"> Total Discharge Added <span class="badge">{{disChargeList?.length}}</span></li>
                      </ul>
                  </span>
                    <div class="form-group">
                        <input [(ngModel)]="discharge.receiver"
                        name="receiver"
                        [typeahead]='filterArray(receiverList)'
                        class="form-control"
                        placeholder="Select Receiver">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="discharge.port"
                        name="port"
                        [typeahead]='filterArray(portList)'
                        class="form-control"
                        placeholder="Select Port">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="discharge.discharge_terminal"
                        name="discharge_terminal"
                        [typeahead]='filterArray(disTerminalList)'
                        class="form-control"
                        placeholder="Select Discharge Terminal">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="discharge.cargo_grade"
                        name="cargo_grade"
                        [typeahead]='filterArray(cargoGradeList)'
                        class="form-control"
                        placeholder="Select Cargo Grade">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="API" name="api" [(ngModel)]="discharge.api">
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Volume" name="volume" [(ngModel)]="discharge.volume" >
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <select class="form-control pull-right "   >
                                    <option value="" selected hidden>Select Volume</option>
                                    <option  *ngFor="let option of volumeList" [value]="option">
                                        {{option}}
                                    </option>
                                </select>
                            </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                        <div class="col-md-2">
                          <label  class=" control-label">Date</label>
                        </div>
                        <div class="col-md-5">
                          <input type="date" class="form-control" placeholder="Load Window" name="date1" [(ngModel)]="discharge.date1">
                        </div>
                        <div class="col-md-5">
                          <input type="date" class="form-control" placeholder="Load Window" name="date1" [(ngModel)]="discharge.date2">
                        </div>
                      </div>
                  </div>  
                  <div class="row">
                      <div class="custom-fieldset">
                          <div class="panel panel-primary">
                              <div class="panel-body">
                                <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Narrowing</strong></h3>
                                <div class="form-group">
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="Window" name="window_1" [(ngModel)]="discharge.window_1">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="Days Before" name="days_before_1" [(ngModel)]="discharge.days_before_1">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="Window" name="window_2" [(ngModel)]="discharge.window_2">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="Days Before" name="days_before_2" [(ngModel)]="discharge.days_before_2">
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control" placeholder="Comments" name="comments" [(ngModel)]="discharge.comments">
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                        <div class="col-md-3">
                          <label  class=" control-label text-left">Discharge Tolerance</label>
                        </div>
                        <div class="col-md-9">
                            <select   class="form-control" name="discharge_tolerance" [(ngModel)]="discharge.discharge_tolerance">
                                <option value="" hidden selected> Select Discharge Tolerance</option>
                                <option  *ngFor="let option of loadingTolerance" [value]="option">
                                    {{option}} %
                                </option>
                              </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                        <div class="col-md-3">
                          <label  class=" control-label text-left">Volume Tolerance</label>
                        </div>
                        <div class="col-md-9">
                          <select   class="form-control" name="volume_tolerance" [(ngModel)]="discharge.volume_tolerance">
                            <option value="" hidden selected> Select Volume Tolerance</option>
                                <option  *ngFor="let option of volumeTolerance" [value]="option">
                                    {{option}}
                                </option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                          <div class="col-md-10 col-md-offset-1">
                          <button type="button" 
                            (click)= "addAnotherDischarge()"
                            class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            ADD ANOTHER DISCHARGE
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <div class="seprator" style="border-bottom: 1px solid #265728 !important;"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="custom-fieldset">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                              <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Shipping Details</strong></h3>
                              <div class="form-group">
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left">Required Segergation</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select   class="form-control" name="segergation" [(ngModel)] = "shipping.segergation">
                                      <option value="" hidden selected> Select Required Segergation</option>
                                      <option value="single">Single</option>
                                      <option value="double">Double</option>                                      
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>                          
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left">Tank Preparation</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select class="form-control" name="tank_preparation" [(ngModel)] = "shipping.tank_preparation">
                                      <option value="" hidden selected> Select Tank Preparation</option>
                                      <option value="yes">YES</option>
                                      <option value="no">NO</option>
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left">Cargo Finance Required</label>
                                    </div>
                                    <div class="col-md-8">
                                    <select class="form-control" name="cargo_finance" [(ngModel)] = "shipping.cargo_finance">
                                      <option value="" hidden selected> Cargo Finance Required</option>
                                      <option value="yes">YES</option>
                                      <option value="no">NO</option>
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-4">
                                    <label class=" control-label text-left">Cargo Insurance Required</label>
                                    </div>
                                  <div class="col-md-8">
                                    <select class="form-control" name="cargo_insurance" [(ngModel)] = "shipping.cargo_insurance">
                                      <option value="" hidden selected> Cargo Insurance Required</option>
                                      <option value="yes">YES</option>
                                      <option value="no">NO</option>
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left"> Estimate Of Cargo Value</label>
                                  </div>
                                  <div class="col-md-8">
                                    <input type="text"  class="form-control" name="estimate_cargo_value" [(ngModel)] = "shipping.estimate_cargo_value"  placeholder="Provide Estimate Of Cargo Value">
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left"> Volume Inspection Required</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select class="form-control" name="volume_inspection" [(ngModel)] = "shipping.volume_inspection">
                                      <option value="" hidden selected> Cargo Volume Inspection Required</option>
                                      <option value="yes">YES</option>
                                      <option value="no">NO</option>
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-md-4">
                                    <label  class=" control-label text-left"> Loss Control Required</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select class="form-control" name="loss_control" [(ngModel)] = "shipping.loss_control">
                                      <option value="" hidden selected> Loss Control Required</option>
                                      <option value="yes">YES</option>
                                      <option value="no">NO</option>
                                    </select>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="custom-fieldset">
                        <div class="panel panel-primary" style="min-height:321px !important">
                            <div class="panel-body">
                              <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Quote</strong></h3>
                              <div class="form-group">
                              <div class="col-md-4">
                                <label  class=" control-label text-left"> Required Named Vessel</label>
                              </div>
                              <div class="col-md-8">
                                <select class="form-control" name="named_vessel" [(ngModel)]="quote.named_vessel">
                                  <option value="" hidden selected> Required Named Vessel</option>
                                  <option value="yes">YES</option>
                                  <option value="no">NO</option>
                                </select>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-4">
                                <label  class=" control-label text-left"> Itinerary Required</label>
                              </div>
                              <div class="col-md-8">
                                <select class="form-control" name="itinerary_required" [(ngModel)]="quote.itinerary_required">
                                  <option value="" hidden selected> Itinerary Required</option>
                                  <option value="yes">YES</option>
                                  <option value="no">NO</option>
                                </select>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-4">
                                <label class=" control-label text-left"> Pricing</label>
                              </div>
                              <div class="col-md-8">
                                <select class="form-control" name="pricing" [(ngModel)]="quote.pricing">
                                  <option value="" hidden selected> Pricing</option>
                                </select>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-4">
                                <label  class=" control-label text-left"> Units </label>
                              </div>
                              <div class="col-md-8">
                                <select class="form-control" name="units" [(ngModel)]="quote.units">
                                  <option value="" hidden selected> Select Units</option>
                                </select>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-4">
                                  <label  class=" control-label text-left"> Required Validity</label>
                                </div>
                                <div class="col-md-8">
                                  <input type="date" class="form-control" name="required_validity" [(ngModel)]="quote.required_validity">
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>              
            </form>        
        </div>
        <div class="modal-footer">
            <div class="row"> 
            <div class="col-md-10 col-md-offset-1">               
            <div class="form-group pull-right">
                  <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)='onSubmitQuote()'>
                    {{modalSaveBtnTxt}}</button>
              </div>
            </div>
            </div>
        </div>
</ng-template>
<div class="row page-header">
    <div class="col-lg-8  col-xs-8">
        <h3>INQUIRY HISTORY</h3>
    </div>
    <div class="col-lg-4  col-xs-4 header-btn">
        <button  class="btn btn-success pull-right" (click)="createCargoModal(template)">New Inquiry</button>
    </div>
</div>
<div class="row">
<div class="col-lg-12  col-xs-12">
    <div class="show-hide-messages">
        <div [ngClass]="messageClass">{{ message }}</div>
    </div>
</div>
<div class="col-lg-2 col-lg-offset-5  col-xs-12 pull-right" style="display:none">
    <div  *ngIf="">
        <input type="text" [(ngModel)]="qoute" placeholder="Search Cargo Quote" 
        class=" form-control">
    </div>
</div> 
<div class="clearfix"></div>
<div class="col-lg-12  col-xs-12">
<div class="table-responsive">
<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th>#</th>
        <th (click)="sort('supplier')">
            <span class="glyphicon sort-icon" *ngIf="key =='supplier'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Segergation
        </th>
        <th (click)="sort('receiver')">
            <span class="glyphicon sort-icon" *ngIf="key =='receiver'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Tank Preparation
        </th>
        <th (click)="sort('port')">
            <span class="glyphicon sort-icon" *ngIf="key =='port'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Cargo Finance
        </th>
        <th (click)="sort('load_terminal')">
            <span class="glyphicon sort-icon" *ngIf="key =='load_terminal'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Cargo Insurance
        </th>
        <th (click)="sort('discharge_terminal')">
            <span class="glyphicon sort-icon" *ngIf="key =='discharge_terminal'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Estimate Cargo Value
        </th>
        <th>Volume Inspection</th>
        <th (click)="sort('cargo_grade')">
            <span class="glyphicon sort-icon" *ngIf="key =='cargo_grade'" 
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            Loss Control
        </th>
        <th>
          Price
        </th>
        <th>Date Added</th>
        <th>View Load</th>
        <th>View Discharge</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inquiryQuoteList; index as i " >
        <td>{{i+1}}</td>
        <td>{{item.segergation}}</td>
        <td>{{item.tank_preparation}}</td>
        <td>{{item.cargo_finance}}</td>
        <td>{{item.cargo_insurance}}</td>
        <td>{{item.estimate_cargo_value}}</td>
        <td>{{item.volume_inspection}}</td>
        <td>{{item.loss_control}}</td>
        <td *ngIf="!auth.isAdmin; else updatePrice ">{{item.pricing}} $</td>
        <ng-template #updatePrice>
          <td> 
              {{item.pricing}}$ &nbsp;&nbsp; <a href="javascript:void(0)" (click)="updateQuotePrice(i, updateModal)"> 
              <span class="glyphicon glyphicon-pencil"></span> Update</a>
          </td>
        </ng-template>
        <td>{{ item.dateadded | date:'dd/MM/yyyy' }}</td>
        <td>
          <a href="javascript:void(0)" (click)="viewContent(i, 'load', viewDetail)" >
            <span class="glyphicon glyphicon-circle-arrow-up"></span> Load 
          </a>                            
        </td>
        <td>
            <a href="javascript:void(0)" (click)="viewContent(i, 'discharge', viewDetail)">
              <span class="glyphicon glyphicon-circle-arrow-down"></span> Discharge
            </a>                                      
        </td>
        <td>
          <a href="javascript:void(0)" (click)="removeQuote(i, item._id)" class="danger">
            <span class="glyphicon glyphicon-trash"></span>
          </a>                            
        </td>
      </tr>
    </tbody>
</table>
</div>
</div>
</div>
