/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal-dialog{
      width:600px !important;
      margin:30px auto
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .modal-dialog{
      width: 40% !important;
      margin:30px auto
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  thead, tbody, tr, td, th { display: block; }
  
  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  
  tbody {
    height: 250px;
    overflow-y: auto;
  }
  
  
  tbody td, thead th {
    width: 33%;
    float: left;
  }